.button {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 15pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  opacity       : 1;           /* 透明度     */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 4px 4px 9px #666666;  /* 影の設定 */
  margin-top   : 5px;
}

.button-color-blue{
  background    : #00007f;     /* 背景色     */
}

.button-color-red{
  background    : #ff3333;     /* 背景色     */
}

.button:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  opacity       : 0.8;         /* カーソル時透明度 */
}